<div class="default-layout">
  <app-sidebar class="default-layout__sidebar"></app-sidebar>
  <!--main-->
  <div class="wrapper d-flex flex-column min-vh-100 main-container">
    <!--app-header-->
    <app-default-header
      [cShadowOnScroll]="'sm'"
      class="mb-4 d-print-none header header-sticky p-0 shadow-sm main-header"
      position="sticky"
      sidebarId="sidebar1"
      (openModal)="toggleModal()"
    />
    <!--app-body-->
    <div class="body flex-grow-1">
      <c-container breakpoint="lg" class="h-auto px-4">
        @if (getToast().show) {
          <c-toaster [placement]="'top-end'" class="p-3" position="fixed">
            <c-toast
              (timer)="getToast().duration"
              [visible]="true"
            >
              @if (getToast().title) {
                <c-toast-header>
                  {{ getToast().title }}
                </c-toast-header>
              }
              <c-toast-body>
                <p>{{ getToast().text }}</p>
              </c-toast-body>
            </c-toast>
          </c-toaster>
        }
        <router-outlet/>
      </c-container>
    </div>
  </div>
</div>
<c-modal #serviceInfo alignment="center" id="serviceInfo" [visible]="visible">
  <c-modal-header>
    <h5 cModalTitle>Информация</h5>
    <button [cModalToggle]="serviceInfo.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div>Административная панель мобильного приложения КОЕ</div>
    <div>Версия: 1.0</div>
    <div>Версия административной панели: 1.0</div>
    <a href="assets/politic.pdf" download="politic">Политика в отношении персональных данных</a>
  </c-modal-body>
</c-modal>
