:host {
  .ng-scrollbar {
    --scrollbar-padding: 1px;
    --scrollbar-size: 5px;
    --scrollbar-thumb-color: var(--cui-gray-500, #999);
    --scrollbar-thumb-hover-color: var(--cui-gray-400, #999);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
  }
}

// ng-scrollbar css variables
//.cui-scrollbar {
//  --scrollbar-border-radius: 7px;
//  --scrollbar-padding: 1px;
//  --scrollbar-viewport-margin: 0;
//  --scrollbar-track-color: transparent;
//  --scrollbar-wrapper-color: transparent;
//  --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
//  --scrollbar-thumb-hover-color: var(--scrollbar-thumb-color);
//  --scrollbar-size: 5px;
//  --scrollbar-hover-size: var(--scrollbar-size);
//  --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
//  --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;
//}
.main-container {
  background-color: #cfd0d7;
}

.main-header {
  background-color: #cfd0d7;
  border: none !important;
  --cui-border-width: 0 !important;
}

.main-sidebar {
  ::ng-deep .nav-item, {
    margin-top: 20px;
  }
  ::ng-deep .nav-group {
    margin-top: 20px;
    &-items{
      ::ng-deep a{
        background-color: transparent;
      }
    }
  }
  ::ng-deep .nav-link {
    background-color: #e7e7e7;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: white;

    & > svg {
      color: #323231 !important;
      margin-right: 20px;
    }
  }

  &:hover {
    background-color: #323231 !important;
    ::ng-deep .sidebar-brand{
      color: #e7e7e7;
      path{
        fill: #e7e7e7;
      }
    }
  }
}
.sidebar-brand{
  color: #323231;
  path{
    fill: #323231;
  }
}
.default-layout {
  display: flex;

  &__sidebar {
    background-color: #CFD0D7;
    //height: 100vh;
  }
}
