.actionGroup {
  display: flex;
  align-items: center;

  & > button {
    background-color: transparent;
    border: none;
  }
}

.company {
  background-color: #e7e7e7;
  padding: 30px 15px 15px;
  border-radius: 35px;
  flex: 2;

  &-layout {
    display: flex;
    align-items: start;
    gap: 17px;
  }

  &-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    color: #323231;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.orderWidget {
  flex: 1;
}

.goToUser {
  border: none;
  width: 43px;
  height: 43px;
  background-color: #f5f5f5;
  border-radius: 50%;
}
