<div class="page-header">
  <h1>Лицензии</h1>
  <div>В данном разделе представлены лицензии</div>
</div>
<div>
  <div class="wrapper-container">
    <div class="table-header">
      <div>
        Лицензии для {{ tab === 'user' ? 'пользователей' : 'организаций' }}
      </div>
      <div class="btn-switch__group">
        <button title="Пользователи" class="btn-switch user-toggle" [class.active]="tab === 'user'"
                (click)="tab='user'">
          <svg width="15" height="20" viewBox="0 0 15 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.49504 9.05957C7.39973 9.05048 7.28537 9.05048 7.18053 9.05957C4.91225 8.98687 3.11093 7.21504 3.11093 5.03433C3.11093 2.80818 4.99802 1 7.34255 1C9.67759 1 11.5742 2.80818 11.5742 5.03433C11.5647 7.21504 9.76337 8.98687 7.49504 9.05957Z"
              stroke="#323231" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path
              d="M2.72984 12.4124C0.423387 13.8844 0.423387 16.2832 2.72984 17.7461C5.35081 19.418 9.64919 19.418 12.2702 17.7461C14.5766 16.2741 14.5766 13.8753 12.2702 12.4124C9.65872 10.7496 5.36034 10.7496 2.72984 12.4124Z"
              stroke="#323231" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <button title="Компании" class="btn-switch company-toggle" [class.active]="tab === 'company'"
                (click)="tab='company'">
          <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9 17H19V7C19 5.89543 18.1046 5 17 5H13M9 13H9.01M15 13H15.01M5 13H5.01M9 9H9.01M15 9H15.01M5 9H5.01M9 5H9.01M5 5H5.01M13 17V3C13 1.89543 12.1046 1 11 1H3C1.89543 1 1 1.89543 1 3V17H13Z"
              stroke="#4E4C58" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="content">
      <div class="table-wrapper">
        @if (tab === 'company') {
          <table cTable borderless pagination [paginationMeta]="licenseMetaUser" (pageChange)="pageChangeCompany($event)">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Название тарифа</th>
              <th scope="col">Дата создания</th>
              <th scope="col">Период</th>
              <th scope="col">Кол-во сотрудников</th>
              <th scope="col">Цена</th>
              <th scope="col">Истекает</th>
              <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
              @for (license of licenseDataCompany; track license.id) {
                <tr>
                  <td [title]="license.id">
                    {{ license.id.substring(0, 5) }}...
                  </td>
                  <td>{{ license.tariff_name }}</td>
                  <td>{{ license.created_at | date:"dd.MM.YYYY" }}</td>
                  <td>{{ license.tariff_period }}</td>
                  <td>{{ license.limit }}</td>
                  <td>{{ license.tariff_price }}</td>
                  <td class="last_td">{{ license.expires_at | date: "dd.MM.YYYY" }}</td>
                  <div class="status">
                    @if(license.is_deleted) {
                      <div class="status-deleted">Удалена</div>
                    } @else {
                      <div class="status-active">Активна</div>
                    }
                  </div>
                </tr>
              }
            </tbody>
          </table>
        } @else {
          <table cTable borderless pagination [paginationMeta]="licenseMetaUser" (pageChange)="pageChangeUser($event)">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Название тарифа</th>
              <th scope="col">Дата создания</th>
              <th scope="col">Период</th>
              <th scope="col">Кол-во исследований</th>
              <th scope="col">Цена</th>
              <th scope="col">Истекает</th>
              <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
              @for (license of licenseDataUser; track license.id) {
                <tr>
                  <td [title]="license.id">
                    {{ license.id.substring(0, 5) }}...
                  </td>
                  <td>{{ license.tariff_name }}</td>
                  <td>{{ license.created_at | date:"dd.MM.YYYY" }}</td>
                  <td>{{ license.tariff_period }}</td>
                  <td>{{ license.limit }}</td>
                  <td>{{ license.tariff_price }}</td>
                  <td class="last_td">{{ license.expires_at | date: "dd.MM.YYYY" }}</td>
                  <div class="status">
                    @if(license.is_deleted) {
                      <div class="status-deleted">Удалена</div>
                    } @else {
                      <div class="status-active">Активна</div>
                    }
                  </div>
                </tr>
              }
            </tbody>
          </table>
        }
      </div>
    </div>
  </div>
</div>
