<c-carousel>
  <c-carousel-indicators/>
  <c-carousel-inner>
    @for(adv of data; track adv.id) {
      <c-carousel-item>
        <a [href]="adv.description" target="_blank">
          <img
            [src]="window.innerWidth > 768 ? adv.desktop_image_url : adv.mobile_image_url"
            alt=""
            class="d-block w-100"
            style="border-radius: 21px"
            loading="lazy" />
        </a>
      </c-carousel-item>
    }
  </c-carousel-inner>
  <c-carousel-control [routerLink] caption="Previous" direction="prev" />
  <c-carousel-control [routerLink] caption="Next" direction="next" />
</c-carousel>
