<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="10" xl="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm [formGroup]="authData" (ngSubmit)="login()" (change)="is_visible = false">
                <h1>Войти</h1>
                <p class="text-body-secondary">Войти в админ панель</p>
                @if(is_visible) {
                  <div class="errorBlock">
                    <p>Неверный логин или пароль</p>
                  </div>
                }
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" cFormControl placeholder="Логин"
                         [formControl]="authData.controls.username"/>
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Пароль"
                    type="password"
                    [formControl]="authData.controls.password"
                  />
                </c-input-group>
                <div style="margin: 10px 0 20px 0">
                  <input type="checkbox" id="admin" [checked]="isSuperAdmin" (change)="isSuperAdmin = !isSuperAdmin"/>
                  <label style="margin-left: 10px" for="admin"> Администратор сервиса</label>
                </div>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" type="submit" [disabled]="!authData.valid">
                      Войти
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
