.actionGroup {
  display: flex;
  align-items: center;

  & > button {
    background-color: transparent;
    border: none;
  }
}

.company {
  background-color: #e7e7e7;
  padding: 30px 15px 15px;
  border-radius: 35px;
  flex: 2;

  &-layout {
    display: flex;
    align-items: start;
    gap: 17px;
  }

  &-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    color: #323231;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.btn-switch {
  width: 38px;
  height: 38px;
  border: none;
  background-color: transparent;

  &.active {
    border-radius: 50%;

    &.user-toggle {
      background-color: #d7ed74;
    }

    &.company-toggle {
      background-color: #bcb4f6;
    }
  }

  &__group {
    display: flex;
    align-content: center;
    gap: 4px;
    background-color: white;
    border-radius: 25px;
    padding: 6px;
  }
}

.orderWidget {
  flex: 1;
}

.goToUser {
  border: none;
  width: 43px;
  height: 43px;
  background-color: #f5f5f5;
  border-radius: 50%;
}
.mainPage__table {
  height: 400px;
}
