<div class="page-header">
  <h1>Настройки</h1>
</div>
<div class="settingsWrapper">
  <div class="settingsInner">
    <div class="settings-avatar">
      <div class="settings-avatar-wrapper">
        <button (click)="avatar.click()">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="18" height="18" rx="9" fill="#323231"/>
            <path
              d="M5.68457 10.7362V12.3167H7.26507L11.5595 8.02231L11.5599 8.02197C11.7162 7.86572 11.7943 7.78756 11.8236 7.69741C11.8494 7.61805 11.8494 7.53257 11.8236 7.45322C11.7943 7.363 11.716 7.28472 11.5595 7.12825L10.8721 6.44082C10.7163 6.28501 10.6382 6.20695 10.5482 6.1777C10.4688 6.15192 10.3834 6.15192 10.304 6.1777C10.2139 6.20697 10.1357 6.28512 9.97975 6.44115L9.97904 6.44182L5.68457 10.7362Z"
              stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <input type="file" hidden #avatar accept="image/*" (input)="uploadAvatar($event)"/>
        </button>
        <div class="settings-avatar-inner">
          @if (user() && user()?.photo_link) {
            <img
              [src]="user()!.photo_link"
              alt=""
            />
          } @else {
            <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.0901 2.03411H13.3162L11.4851 0.297997C11.284 0.107299 11.0115 0 10.7267 0H6.43605C6.15125 0 5.87879 0.107299 5.67767 0.297997L3.84661 2.03411H1.07267C0.479754 2.03411 0 2.48899 0 3.05116V14.2388C0 14.8009 0.479754 15.2558 1.07267 15.2558H16.0901C16.683 15.2558 17.1628 14.8009 17.1628 14.2388V3.05116C17.1628 2.48899 16.683 2.03411 16.0901 2.03411ZM8.5814 12.2047C6.21186 12.2047 4.2907 10.3831 4.2907 8.13643C4.2907 5.88976 6.21186 4.06822 8.5814 4.06822C10.9509 4.06822 12.8721 5.88976 12.8721 8.13643C12.8721 10.3831 10.9509 12.2047 8.5814 12.2047Z"
                fill="#CFD0D7"/>
              <path
                d="M8.5814 10.1705C9.76624 10.1705 10.7267 9.25984 10.7267 8.13643C10.7267 7.01303 9.76624 6.10233 8.5814 6.10233C7.39655 6.10233 6.43605 7.01303 6.43605 8.13643C6.43605 9.25984 7.39655 10.1705 8.5814 10.1705Z"
                fill="#CFD0D7"/>
            </svg>
          }
        </div>
      </div>
    </div>
    <div class="settings-flex">
      <div>
        <div class="inputLabel">
          <div>Логин</div>
          @if (username.disabled) {
            <button (click)="username.enable()">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="18" height="18" rx="9" fill="#323231"/>
                <path
                  d="M5.68457 10.7362V12.3167H7.26507L11.5595 8.02231L11.5599 8.02197C11.7162 7.86572 11.7943 7.78756 11.8236 7.69741C11.8494 7.61805 11.8494 7.53257 11.8236 7.45322C11.7943 7.363 11.716 7.28472 11.5595 7.12825L10.8721 6.44082C10.7163 6.28501 10.6382 6.20695 10.5482 6.1777C10.4688 6.15192 10.3834 6.15192 10.304 6.1777C10.2139 6.20697 10.1357 6.28512 9.97975 6.44115L9.97904 6.44182L5.68457 10.7362Z"
                  stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          } @else {
            <button title="сохранить" (click)="updateData('username'); username.disable()">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="18" height="18" rx="9" fill="#74ED8A"/>
                <path d="M6 9.53333L7.87972 11.4L12.1091 7.2" stroke="#323231" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
              </svg>
            </button>
            <button title="отмена" (click)="username.disable()">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="18" height="18" rx="9" fill="#ED7474"/>
                <path d="M6 6.6L12 12.6M6 12.6L12 6.6" stroke="#323231" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
              </svg>
            </button>
          }
        </div>
        <input
          autoComplete="username"
          cFormControl
          type="text"
          [formControl]="username"
        />
        @if(username.errors) {
          <ng-container *ngTemplateOutlet="errorMessage; context: { message: getErrorMessage(username.errors)}"></ng-container>
        }
      </div>
      <div>
        <div class="inputLabel">
          <div>email</div>
          @if (email.disabled) {
            <button (click)="email.enable()">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="18" height="18" rx="9" fill="#323231"/>
                <path
                  d="M5.68457 10.7362V12.3167H7.26507L11.5595 8.02231L11.5599 8.02197C11.7162 7.86572 11.7943 7.78756 11.8236 7.69741C11.8494 7.61805 11.8494 7.53257 11.8236 7.45322C11.7943 7.363 11.716 7.28472 11.5595 7.12825L10.8721 6.44082C10.7163 6.28501 10.6382 6.20695 10.5482 6.1777C10.4688 6.15192 10.3834 6.15192 10.304 6.1777C10.2139 6.20697 10.1357 6.28512 9.97975 6.44115L9.97904 6.44182L5.68457 10.7362Z"
                  stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          } @else {
            <button title="сохранить" (click)="updateData('email'); email.disable()">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="18" height="18" rx="9" fill="#74ED8A"/>
                <path d="M6 9.53333L7.87972 11.4L12.1091 7.2" stroke="#323231" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
              </svg>
            </button>
            <button title="отмена" (click)="email.disable()">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="18" height="18" rx="9" fill="#ED7474"/>
                <path d="M6 6.6L12 12.6M6 12.6L12 6.6" stroke="#323231" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
              </svg>
            </button>
          }
        </div>
        <input
          autoComplete="email"
          cFormControl
          type="email"
          [formControl]="email"
        />
        @if(email.errors) {
          <ng-container *ngTemplateOutlet="errorMessage; context: { message: getErrorMessage(email.errors)}"></ng-container>
        }
       </div>
      <div>
        <div class="inputLabel">
          <div>ФИО</div>
          @if (name.disabled) {
            <button (click)="name.enable()">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="18" height="18" rx="9" fill="#323231"/>
                <path
                  d="M5.68457 10.7362V12.3167H7.26507L11.5595 8.02231L11.5599 8.02197C11.7162 7.86572 11.7943 7.78756 11.8236 7.69741C11.8494 7.61805 11.8494 7.53257 11.8236 7.45322C11.7943 7.363 11.716 7.28472 11.5595 7.12825L10.8721 6.44082C10.7163 6.28501 10.6382 6.20695 10.5482 6.1777C10.4688 6.15192 10.3834 6.15192 10.304 6.1777C10.2139 6.20697 10.1357 6.28512 9.97975 6.44115L9.97904 6.44182L5.68457 10.7362Z"
                  stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          } @else {
            <button title="сохранить" (click)="updateData('name'); name.disable()">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="18" height="18" rx="9" fill="#74ED8A"/>
                <path d="M6 9.53333L7.87972 11.4L12.1091 7.2" stroke="#323231" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
              </svg>
            </button>
            <button title="отмена" (click)="name.disable()">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="18" height="18" rx="9" fill="#ED7474"/>
                <path d="M6 6.6L12 12.6M6 12.6L12 6.6" stroke="#323231" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
              </svg>
            </button>
          }
        </div>
        <input
          autoComplete="name"
          cFormControl
          type="text"
          [formControl]="name"
        />
        @if(name.errors) {
          <ng-container *ngTemplateOutlet="errorMessage; context: { message: getErrorMessage(name.errors)}"></ng-container>
        }
      </div>
    </div>
    <div class="settings-flex" style="justify-content: start; gap: 15px;">
      <div>
        <div class="inputLabel">
          <div>Пароль</div>
          @if (password.disabled) {
            <button (click)="password.enable()">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="18" height="18" rx="9" fill="#323231"/>
                <path
                  d="M5.68457 10.7362V12.3167H7.26507L11.5595 8.02231L11.5599 8.02197C11.7162 7.86572 11.7943 7.78756 11.8236 7.69741C11.8494 7.61805 11.8494 7.53257 11.8236 7.45322C11.7943 7.363 11.716 7.28472 11.5595 7.12825L10.8721 6.44082C10.7163 6.28501 10.6382 6.20695 10.5482 6.1777C10.4688 6.15192 10.3834 6.15192 10.304 6.1777C10.2139 6.20697 10.1357 6.28512 9.97975 6.44115L9.97904 6.44182L5.68457 10.7362Z"
                  stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          } @else {
            <button title="сохранить" (click)="updateData('password'); password.disable()"
                    [disabled]="!password.value || (password.value !== password_confirmation.value)">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="18" height="18" rx="9" fill="#74ED8A"/>
                <path d="M6 9.53333L7.87972 11.4L12.1091 7.2" stroke="#323231" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
              </svg>
            </button>
            <button title="отмена" (click)="password.disable()">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="18" height="18" rx="9" fill="#ED7474"/>
                <path d="M6 6.6L12 12.6M6 12.6L12 6.6" stroke="#323231" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
              </svg>
            </button>
          }
        </div>
        <input
          autoComplete="password"
          cFormControl
          [placeholder]="'******'"
          type="password"
          [formControl]="password"
        />
        @if(password.errors) {
          <ng-container *ngTemplateOutlet="errorMessage; context: { message: getErrorMessage(password.errors)}"></ng-container>
        }
      </div>
      @if (!password.disabled) {
        <div>
          <div class="inputLabel">
            <div>Повтор пароля</div>
          </div>
          <input
            autoComplete="password_confirmation"
            cFormControl
            type="password"
            [formControl]="password_confirmation"
          />
          @if(password_confirmation.errors) {
            <ng-container *ngTemplateOutlet="errorMessage; context: { message: getErrorMessage(password_confirmation.errors)}"></ng-container>
          }
        </div>
      }
    </div>
  </div>
</div>
<ng-template #errorMessage let-message="message">
  <div class="validation-message">{{message}}</div>
</ng-template>
