<div class="page-header">
  <h1>Организации</h1>
  <div>В данном разделе представлены организации сервиса</div>
</div>
<div class="company-layout">
  <div class="company">
    <div class="company-header">
      <div>Список организаций</div>
<!--      @if (tariffList) {-->
<!--        <div class="filter">-->
<!--          <select name="kind"-->
<!--                  id="kind"-->
<!--                  aria-label="Default select example" cSelect-->
<!--                  [formControl]="filter"-->
<!--                  class="input-item"-->
<!--                  (change)="getCompanyList()"-->
<!--          >-->
<!--            <option value="all">Все</option>-->
<!--            @for (tariff of tariffList; track tariff.id) {-->
<!--              <option [value]="tariff.id">{{ tariff.name }}</option>-->
<!--            }-->
<!--          </select>-->
<!--        </div>-->
<!--      }-->
    </div>
    @if (companyData?.length) {
      <div class="content">
        <div class="table-wrapper">
          <table cTable borderless pagination [paginationMeta]="meta" (pageChange)="pageChange($event)">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Название</th>
              <th scope="col">Дата создания</th>
              <th scope="col">Лицензия</th>
              <th scope="col">Дата изменения</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
              @for (company of companyData; track company.id) {
                <tr>
                  <td scope="row" [title]="company.id">{{ company.id.substring(0, 3) }}...</td>
                  <td>{{ company.name }}</td>
                  <td>{{ company.created_at | date : "dd.MM.YYYY" }}</td>
                  <td>{{ company.tariff_name }}</td>
                  <td class="last_td">{{ company?.modified_at | date: "dd.MM.YYYY" }}</td>
                  <div class="actionGroup">
                    <button title="Просмотреть"
                            (click)="navigateToCompany(company.id)"
                    >
                      <svg width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M2.19521 11.5897C1.3984 10.5545 1 10.0369 1 8.5C1 6.96306 1.3984 6.4455 2.19521 5.41031C3.78621 3.34334 6.45448 1 10.375 1C14.2955 1 16.9637 3.34334 18.5548 5.41031C19.3516 6.4455 19.75 6.96306 19.75 8.5C19.75 10.0369 19.3516 10.5545 18.5548 11.5897C16.9637 13.6566 14.2955 16 10.375 16C6.45448 16 3.78621 13.6566 2.19521 11.5897Z"
                          stroke="#323231" stroke-width="2"/>
                        <path
                          d="M13.1875 8.5C13.1875 10.0533 11.9283 11.3125 10.375 11.3125C8.82166 11.3125 7.5625 10.0533 7.5625 8.5C7.5625 6.94666 8.82166 5.6875 10.375 5.6875C11.9283 5.6875 13.1875 6.94666 13.1875 8.5Z"
                          stroke="#323231" stroke-width="2"/>
                      </svg>
                    </button>
                  </div>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    } @else {
      <div>Список пуст</div>
    }
  </div>
  <div class="company-rightSection">
    <a class="btn btn-primary" target="_blank" [routerLink]="['/order-create']">+ Добавить</a>
    <div class="job-widget__wrapper">
      <div class="job-widget__wrapper__header">
        Должности
      </div>
      <div class="content">
        <div class="table-wrapper">
          <table cTable borderless>
            <thead>
            <tr>
              <th scope="col">Название</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td scope="row" class="last_td">Сотрудник</td>
            </tr>
            <tr>
              <td scope="row" class="last_td">Руководитель отдела исследований</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
