<div class="order-item">
  <div class="order-info__wrapper">
    <h1>Информация о компании</h1>
    <div class="order-info">
      <form [formGroup]="orderData">
        @if ($order?.created_at) {
          <div class="inputField">
            <label> Дата создания </label>
            <div> {{ $order.created_at | date: 'dd.MM.yyyy' }}</div>
          </div>
        }
        @if ($order?.success_at) {
          <div class="inputField">
            <label> Дата принятия </label>
            <div> {{ $order.success_at | date: 'dd.MM.yyyy' }}</div>
          </div>
        }
        @if ($order?.rejected_at) {
          <div class="inputField">
            <label> Дата отколнения </label>
            <div> {{ $order.rejected_at | date: 'dd.MM.yyyy' }}</div>
          </div>
        }
        <input cFormControl
               style="margin-top: 20px"
               name="company_name"
               id="company_name"
               placeholder="Введите информация о компании"
               type="text"
               [formControl]="orderData.controls.company_name"
        />
        <div class="inputField">
          <label> Тарифф </label>
          <select name="tariff"
                  id="tariff"
                  aria-label="Default select example" cSelect
                  [formControl]="orderData.controls.tariff_id"
                  (change)="selectTariff()"
          >
            @for (tariff of tariffList; track tariff.id) {
              <option [value]="tariff.id">{{ tariff.name }}</option>
            }
          </select>
        </div>
        <button cButton type="submit" (click)="updateOrder()"> Сохранить</button>
      </form>
    </div>
  </div>
</div>
