<div class="companyPage">
  <div class="companyPage-info">
    <div class="header">
      Пользователь
    </div>
    <form [formGroup]="userField" (ngSubmit)="updateUserData()" class="companyPage-data">
      <input cFormControl placeholder="Имя" [formControl]="userField.controls.name"/>
      <input cFormControl placeholder="Username" [formControl]="userField.controls.username"/>
      <input cFormControl placeholder="Email" [formControl]="userField.controls.email"/>
      <select name="sex"
              id="sex"
              cSelect
              [formControl]="userField.controls.sex"
      >
        <option value="male">Мужчина</option>
        <option value="female">Женщина</option>
      </select>
      <input type="date" [formControl]="userField.controls.birth_date" class="datePicker" placeholder="Дата рождения"/>
      @if (!userField.untouched) {
        <button class="btn btn-primary" style="margin: 11px auto" [disabled]="!userField.valid">Обновить</button>
      }
    </form>
  </div>
  <div class="companyPage-rightSide">
    <div class="companyPage-users">
      <div class="companyPage-users__header">Лицензии</div>
      <div class="content">
        <div class="table-wrapper" style="max-height: 300px">
          <table cTable hover borderless>
            <thead>
            <tr>
              <th scope="col">Название</th>
              <th scope="col">Дата создания</th>
              <th scope="col">Период</th>
              <th scope="col">Сотрудников</th>
              <th scope="col">Цена</th>
              <th scope="col">Дата начала</th>
              <th scope="col">Дата окончания</th>
            </tr>
            </thead>
            <tbody>
              @for (license of licenseData; track license.id) {
                <tr>
                  <td scope="row">
                    {{ license.tariff_name }}
                  </td>
                  <td>
                    {{ license.created_at | date : "dd.MM.YYYY" }}
                  </td>
                  <td>
                    {{ license.tariff_period }}
                  </td>
                  <td>
                    {{ license.limit }}
                  </td>
                  <td>
                    {{ license.tariff_price }}
                  </td>
                  <td>
                    {{ license.activated_at | date : "dd.MM.YYYY" }}
                  </td>
                  <td>
                    {{ license.expires_at | date : "dd.MM.YYYY" }}
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
