<div class="companyPage">
  <div>
    <div class="companyPage-info">
      <div class="header">
        Организация
      </div>
      <form [formGroup]="companyField" (ngSubmit)="updateCompanyData()" class="companyPage-data">
        <input cFormControl placeholder="Название организации" [formControl]="companyField.controls.name"
               style="margin-bottom: 11px;"/>
        <input cFormControl placeholder="ИНН" [formControl]="companyField.controls.inn" style="margin-bottom: 11px;"/>
        <input cFormControl placeholder="Email" [formControl]="companyField.controls.email"/>
        @if (!companyField.untouched) {
          <button class="btn btn-primary" style="margin: 11px auto">Обновить</button>
        }
      </form>
    </div>
    <div class="job-widget__wrapper">
      <div class="job-widget__wrapper__header">
        Должности
      </div>
      <div class="content">
        <div class="table-wrapper">
          <table cTable borderless>
            <thead>
            <tr>
              <th scope="col">Название</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td scope="row" class="last_td">Сотрудник</td>
            </tr>
            <tr>
              <td scope="row" class="last_td">Руководитель отдела исследований</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="companyPage-rightSide">
    <div class="companyPage-users">
      <div class="companyPage-users__header">
        <div>Лицензии</div>
        <div class="companyPage-users__header-right">
          @if(!isAdmin()) {
            <button class="addBtn" cModalToggle="selectTariff">
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 8.07104H15.1421M8.07107 15.1421V0.999977" stroke="#323231" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          }
        </div>
      </div>
      <div class="content">
        <div class="table-wrapper" style="max-height: 300px">
          <table cTable borderless>
            <thead>
            <tr>
              <th scope="col">Название</th>
              <th scope="col">Дата создания</th>
              <th scope="col">Период</th>
              <th scope="col">Сотрудников</th>
              <th scope="col">Цена</th>
              <th scope="col">Дата начала</th>
              <th scope="col">Дата окончания</th>
              <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
              @for (license of licenseData; track license.id) {
                <tr>
                  <td scope="row">
                    {{ license.tariff_name }}
                  </td>
                  <td>
                    {{ license.created_at | date : "dd.MM.YYYY" }}
                  </td>
                  <td>
                    {{ license.tariff_period }}
                  </td>
                  <td>
                    {{ license.limit }}
                  </td>
                  <td>
                    {{ license.tariff_price }}
                  </td>
                  <td>
                    {{ license.activated_at | date : "dd.MM.YYYY" }}
                  </td>
                  <td class="last_td">
                    {{ license.expires_at | date : "dd.MM.YYYY" }}
                  </td>
                  <td style="background-color: transparent">
                    @if (license.deleted_at) {
                      <div class="license_status deleted">Удалена</div>
                    } @else if(checkExp(license.expires_at)){
                      <div class="license_status deleted">Просрочена</div>
                    } @else {
                      <div class="license_status success">Активна</div>
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="companyPage-users" style="margin-top: 14px">
      <div class="companyPage-users__header">
        <div>Сотрудники</div>
        <div class="companyPage-users__header-right">
          <div class="userCount">
            @if (licenseData && userMeta) {
              {{ userMeta.totalCount }}/{{ licenseData[0].limit - 1 }}
            } @else {
              0
            }
          </div>
          <button class="addBtn" [cModalToggle]="'addUser'" [disabled]="userMeta.totalCount === (limit - 1)">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 8.07104H15.1421M8.07107 15.1421V0.999977" stroke="#323231" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="content">
        <div class="table-wrapper" style="max-height: 300px">
          <table cTable borderless pagination [paginationMeta]="userMeta" (pageChange)="pageChangeUser($event)">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">ФИО</th>
              <th scope="col">username</th>
              <th scope="col">email</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
              @for (user of userData; track user.id) {
                <tr>
                  <td scope="row" [title]="user.id">
                    {{ user.id?.substring(0, 5) }}...
                  </td>
                  <td>
                    {{ user.name || '-' }}
                  </td>
                  <td>
                    {{ user.username || '-' }}
                  </td>
                  <td>
                    {{ user.email || '-' }}
                  </td>
                  <td class="last_td">
                    @if(user.is_admin){
                      <div class="license_status success">
                        admin
                      </div>
                    }
                  </td>
                  <div class="actionGroup">
                    <button title="Просмотреть" [routerLink]="['/user', user.id]">
                      <svg width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M2.19521 11.5897C1.3984 10.5545 1 10.0369 1 8.5C1 6.96306 1.3984 6.4455 2.19521 5.41031C3.78621 3.34334 6.45448 1 10.375 1C14.2955 1 16.9637 3.34334 18.5548 5.41031C19.3516 6.4455 19.75 6.96306 19.75 8.5C19.75 10.0369 19.3516 10.5545 18.5548 11.5897C16.9637 13.6566 14.2955 16 10.375 16C6.45448 16 3.78621 13.6566 2.19521 11.5897Z"
                          stroke="#323231" stroke-width="2"/>
                        <path
                          d="M13.1875 8.5C13.1875 10.0533 11.9283 11.3125 10.375 11.3125C8.82166 11.3125 7.5625 10.0533 7.5625 8.5C7.5625 6.94666 8.82166 5.6875 10.375 5.6875C11.9283 5.6875 13.1875 6.94666 13.1875 8.5Z"
                          stroke="#323231" stroke-width="2"/>
                      </svg>
                    </button>
                    <button title="Удалить" (click)="deleteUser(user.id)">
                      <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M12.6667 3.5L11.9992 13.5108C11.9408 14.3875 11.9116 14.8259 11.7222 15.1583C11.5555 15.451 11.304 15.6863 11.0009 15.8332C10.6567 16 10.2172 16 9.3385 16H5.99481C5.11606 16 4.67668 16 4.33241 15.8332C4.02931 15.6863 3.77782 15.451 3.6111 15.1583C3.42172 14.8259 3.3925 14.3875 3.33405 13.5108L2.66667 3.5M1 3.5H14.3333M11 3.5L10.7745 2.82339C10.5559 2.16771 10.4466 1.83987 10.2439 1.59748C10.0649 1.38344 9.83508 1.21777 9.57542 1.11565C9.28133 1 8.93583 1 8.24467 1H7.08867C6.3975 1 6.052 1 5.75792 1.11565C5.49827 1.21777 5.2684 1.38344 5.08941 1.59748C4.88671 1.83987 4.77743 2.16771 4.55887 2.82339L4.33333 3.5"
                          stroke="#ED7474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </button>
                  </div>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<c-modal #createUserModal size="lg" alignment="center" [id]="'addUser'" class="addUserModal">
  <c-modal-header style="display: flex; justify-content: space-between; color: #323231">
    <h5 cModalTitle>Добавление сотрудника</h5>
    <button [cModalToggle]="'addUser'" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="userField" (ngSubmit)="createUser()" class="addUser-fields">
      <input cFormControl placeholder="Имя" [formControl]="userField.controls.name"/>
      <input cFormControl type="email" placeholder="Username (email)" [formControl]="userField.controls.username"/>
      <input cFormControl type="email" placeholder="Email" [formControl]="userField.controls.email"/>
      <label style="margin: 0 0 -10px 10px">Должность</label>
      <select name="post" cSelect [formControl]="userField.controls.post">
        <option value="Сотрудник">Сотрудник</option>
        <option value="Руководитель отдела исследований">Руководитель отдела исследований</option>
      </select>
      <input cFormControl type="password" [formControl]="userField.controls.password"
             placeholder="Придумайте пароль"/>
      @if (!userField.untouched) {
        <button type="submit" class="btn btn-primary" style="margin: 11px auto" [disabled]="!userField.valid"
        >Создать
        </button>
      }
    </form>
  </c-modal-body>
</c-modal>
<c-toaster placement="top-end" class="p-3" position="fixed">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible()"
  >
    <c-toast-body>
      <p>Превышен лимит на сотрудников</p>
      <c-progress thin [value]="percentage()"/>
    </c-toast-body>
  </c-toast>
</c-toaster>
<c-modal #selectTariffModal size="xl" alignment="center" [id]="'selectTariff'" class="setTariffModal">
  <c-modal-header style="display: flex; justify-content: space-between; color: #323231">
    <h5 cModalTitle>Новая заявка</h5>
    <button [cModalToggle]="selectTariffModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="tariffList">
      @for (tariff of tariffList; track tariff.id) {
        <div class="tariffItem" (click)="activeTariff = tariff.id"
             [class.active]="activeTariff === tariff.id">
          <div class="tariffItem-title">{{ tariff.name }}</div>
          <div class="tariffItem-data">
            <div>Тип: <span>{{ tariff.kind }}</span></div>
            <div>Сотрудников: <span>{{ tariff.limit }}</span></div>
            <div>Период: <span>{{ tariff.period }}</span></div>
            <div>Цена: <span>{{ tariff.price }}</span></div>
          </div>
        </div>
      }
    </div>
  </c-modal-body>
  @if (activeTariff) {
    <c-modal-footer>
      <button style="margin: auto" class="btn btn-primary"
              (click)="addLicense()">Принять
      </button>
    </c-modal-footer>
  }
</c-modal>
