<div class="widgetWrapper" [ngStyle]="{
'max-width': page? '500px': ''
}">
  <div class="widgetWrapper-header">
    <div>
      Анализы
    </div>
    @if (!page) {
      <button class="showAnalysis" (click)="navigateToAnalysisPage()">
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14.7279 1.00001C14.7279 0.447729 14.2802 1.36867e-05 13.7279 1.34338e-05L4.72792 1.42346e-05C4.17564 1.38974e-05 3.72792 0.447729 3.72792 1.00001C3.72792 1.5523 4.17564 2.00001 4.72792 2.00001L12.7279 2.00001L12.7279 10C12.7279 10.5523 13.1756 11 13.7279 11C14.2802 11 14.7279 10.5523 14.7279 10L14.7279 1.00001ZM1.70711 14.435L14.435 1.70712L13.0208 0.292907L0.292893 13.0208L1.70711 14.435Z"
            fill="#323231"/>
        </svg>
      </button>
    }
  </div>
  <div class="widgetContainer">
    @if (analysisData?.length) {
      @for (analysis of analysisData; track analysis.id) {
        <div class="analysisItem">
          <div class="analysisItem-header">
            <div>
              <div class="analysisName">{{ analysis.name }}</div>
              <div class="analysisDate">{{ analysis.created_at | date:"dd.MM.YYYY" }}
                | {{ analysis.created_at | date: 'HH.mm' }}
              </div>
            </div>
            <button class="showAnalysis" (click)="navigateToAnalysis(analysis.id)">
              <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M2.1474 11.5897C1.38246 10.5545 1 10.0369 1 8.5C1 6.96306 1.38246 6.4455 2.1474 5.41031C3.67476 3.34334 6.2363 1 10 1C13.7637 1 16.3252 3.34334 17.8526 5.41031C18.6175 6.4455 19 6.96306 19 8.5C19 10.0369 18.6175 10.5545 17.8526 11.5897C16.3252 13.6566 13.7637 16 10 16C6.2363 16 3.67476 13.6566 2.1474 11.5897Z"
                  stroke="#323231" stroke-width="2"/>
                <path
                  d="M12.7 8.5C12.7 10.0533 11.4912 11.3125 10 11.3125C8.50879 11.3125 7.3 10.0533 7.3 8.5C7.3 6.94666 8.50879 5.6875 10 5.6875C11.4912 5.6875 12.7 6.94666 12.7 8.5Z"
                  stroke="#323231" stroke-width="2"/>
              </svg>
            </button>
          </div>
          <div class="analysisItem-body">
            <div>Колоний обнаружено: <span>{{ analysis.colonies_number }}</span></div>
            <div>Подозрительных колоний: <span>{{ analysis.suspicious_colonies_number }}</span></div>
            <div>Распределение по типам:
              <span>{{getPredictedClasses(analysis.predicted_classes)}}</span>
            </div>
          </div>
        </div>
      }
    } @else {
      <div>Анализы отсутсвуют</div>
    }
  </div>
</div>
