<div class="page-header">
  <h1>Заявки</h1>
  <div>В данном разделе представлены заявки</div>
</div>
<div>
  <div class="wrapper-container">
    <div class="table-header">
      <div>
        Заявки от организаций
      </div>
    </div>
    <div class="content">
      <div class="table-wrapper">
        @if (tab === 'company') {
          <table cTable borderless pagination [paginationMeta]="orderMetaCompany"
                 (pageChange)="pageChangeCompany($event)">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Дата создания</th>
              <th scope="col">Название компании</th>
              <th scope="col">Тариф</th>
              <th scope="col">Инн</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
              @for (order of orderDataCompany; track order.id) {
                <tr>
                  <td scope="row" [title]="order.id">{{ order.id.substring(0, 3) }}...</td>
                  <td>{{ getDate(order.created_at) }}</td>
                  <td>{{ order.company_name }}</td>
                  <td>{{ order.tariff_name }}</td>
                  <td class="last_td">{{ order.inn }}</td>
                  <td style="background-color: transparent; margin: auto; writing-mode: tb">
                    <a title="Просмотреть" [routerLink]="[order.id]" class="showOrder">
                      <svg width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M2.19521 11.5897C1.3984 10.5545 1 10.0369 1 8.5C1 6.96306 1.3984 6.4455 2.19521 5.41031C3.78621 3.34334 6.45448 1 10.375 1C14.2955 1 16.9637 3.34334 18.5548 5.41031C19.3516 6.4455 19.75 6.96306 19.75 8.5C19.75 10.0369 19.3516 10.5545 18.5548 11.5897C16.9637 13.6566 14.2955 16 10.375 16C6.45448 16 3.78621 13.6566 2.19521 11.5897Z"
                          stroke="#323231" stroke-width="2"/>
                        <path
                          d="M13.1875 8.5C13.1875 10.0533 11.9283 11.3125 10.375 11.3125C8.82166 11.3125 7.5625 10.0533 7.5625 8.5C7.5625 6.94666 8.82166 5.6875 10.375 5.6875C11.9283 5.6875 13.1875 6.94666 13.1875 8.5Z"
                          stroke="#323231" stroke-width="2"/>
                      </svg>
                    </a>
                  </td>
                  <div class="order_status">
                    @switch (order.status) {
                      @case ('waiting') {
                        <div class="actionGroup">
                          <button title="Подтвердить" style="background-color: #74ed8a"
                                  (click)="checkTariff($event, order)"
                                  [cModalToggle]="'tm'+order.id.substring(0,10)"
                                  [attr.data-target]="'#' + order.id"
                          >
                            <svg [cIcon]="icons.cilCheckAlt"></svg>
                          </button>
                          <button title="Отклонить" style="background-color: #ed7474" (click)="rejectOrder(order.id)">
                            <svg [cIcon]="icons.cilX"></svg>
                          </button>
                            <c-modal #selectTariffModal size="xl" alignment="center" [id]="'tm'+order.id.substring(0,10)" class="setTariffModal">
                              <c-modal-header style="display: flex; justify-content: space-between; color: #323231">
                                <h5 cModalTitle>Новая заявка</h5>
                                <button [cModalToggle]="selectTariffModal.id" cButtonClose></button>
                              </c-modal-header>
                              <c-modal-body>
                              <div class="tariffList" pagination [paginationMeta]="tariffMetaCompany" (pageChange)="pageChangeTariff($event)">
                                @for (tariff of tariffsData; track tariff.id) {
                                  <div class="tariffItem" (click)="activeTariff = tariff.id"
                                       [class.active]="activeTariff === tariff.id">
                                    <div class="tariffItem-title">{{ tariff.name }}</div>
                                    <div class="tariffItem-data">
                                      <div>Тип: <span>{{ tariff.kind }}</span></div>
                                      <div>Сотрудников: <span>{{ tariff.limit }}</span></div>
                                      <div>Период: <span>{{ tariff.period }}</span></div>
                                      <div>Цена: <span>...</span></div>
                                    </div>
                                  </div>
                                }
                              </div>
                            </c-modal-body>
                            @if (activeTariff) {
                              <c-modal-footer>
                                <button style="margin: auto" class="btn btn-primary"
                                        (click)="acceptOrder(order.id, activeTariff)">Принято
                                </button>
                              </c-modal-footer>
                            }
                          </c-modal>
                        </div>
                      }
                      @case ('rejected') {
                        <div class="order_status-reject">Отклонено</div>
                      }
                      @case ('success') {
                        <div class="order_status-success">Принято</div>
                      }
                    }
                  </div>
                </tr>
              }
            </tbody>
          </table>
        }
      </div>
    </div>
  </div>
</div>
