<div class="page-header">
  <h1>Пользователи</h1>
  <div>В данном разделе представлены пользователи сервиса</div>
</div>
<div class="company-layout">
  <div class="company">
    <div class="company-header">
      <div>Список пользователей</div>
      <div style="display: flex; gap: 17px; align-items: center">
<!--        @if (tariffList) {-->
<!--          <div class="filter">-->
<!--            <select name="kind"-->
<!--                    id="kind"-->
<!--                    aria-label="Default select example" cSelect-->
<!--                    [formControl]="filter"-->
<!--                    class="input-item"-->
<!--                    (change)="getUserList()"-->
<!--            >-->
<!--              <option value="all">Все</option>-->
<!--              @for (tariff of tariffList; track tariff.id) {-->
<!--                <option [value]="tariff.id">{{ tariff.name }}</option>-->
<!--              }-->
<!--            </select>-->
<!--          </div>-->
<!--        }-->
        <div class="addBtn" [cModalToggle]="'addUser'">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 8.07104H15.1421M8.07107 15.1421V0.999977" stroke="#323231" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
    </div>
    @if (userData?.length) {
      <div class="content">
        <div class="table-wrapper">
          <table cTable borderless pagination [paginationMeta]="meta" (pageChange)="pageChange($event)">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Пользователь</th>
              <th scope="col">Email</th>
              <th scope="col">Лицензия</th>
              <th scope="col">Дата создания</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
              @for (user of userData; track user.id) {
                <tr>
                  <td scope="row" [title]="user.id">{{ user.id.substring(0, 3) }}...</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.tariff_name }}</td>
                  <td class="last_td">{{ user.created_at | date : "dd.MM.YYYY" }}</td>
                  <div class="actionGroup">
                    <button title="Просмотреть"
                            (click)="navigateToUser(user.id)"
                    >
                      <svg width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M2.19521 11.5897C1.3984 10.5545 1 10.0369 1 8.5C1 6.96306 1.3984 6.4455 2.19521 5.41031C3.78621 3.34334 6.45448 1 10.375 1C14.2955 1 16.9637 3.34334 18.5548 5.41031C19.3516 6.4455 19.75 6.96306 19.75 8.5C19.75 10.0369 19.3516 10.5545 18.5548 11.5897C16.9637 13.6566 14.2955 16 10.375 16C6.45448 16 3.78621 13.6566 2.19521 11.5897Z"
                          stroke="#323231" stroke-width="2"/>
                        <path
                          d="M13.1875 8.5C13.1875 10.0533 11.9283 11.3125 10.375 11.3125C8.82166 11.3125 7.5625 10.0533 7.5625 8.5C7.5625 6.94666 8.82166 5.6875 10.375 5.6875C11.9283 5.6875 13.1875 6.94666 13.1875 8.5Z"
                          stroke="#323231" stroke-width="2"/>
                      </svg>
                    </button>
                  </div>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    } @else {
      <div>Список пуст</div>
    }
  </div>
</div>
<c-modal #createUserModal size="lg" alignment="center" [id]="'addUser'" class="addUserModal">
  <c-modal-header style="display: flex; justify-content: space-between; color: #323231">
    <h5 cModalTitle>Добавление сотрудника</h5>
    <button [cModalToggle]="'addUser'" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="userField" (ngSubmit)="createUser()" class="addUser-fields">
      <input cFormControl placeholder="Имя" [formControl]="userField.controls.name"/>
      <input cFormControl placeholder="Username (email)" [formControl]="userField.controls.username"/>
      <input cFormControl placeholder="Email" [formControl]="userField.controls.email"/>
      <select name="sex"
              id="sex"
              cSelect
              [formControl]="userField.controls.sex"
      >
        <option value="male">Мужчина</option>
        <option value="female">Женщина</option>
      </select>
      <input type="date" [formControl]="userField.controls.birth_date" class="datePicker" placeholder="Дата рождения"/>
      <input cFormControl type="password" [formControl]="userField.controls.password" placeholder="Придумайте пароль"/>
      @if (!userField.untouched) {
        <button class="btn btn-primary" style="margin: 11px auto" [disabled]="!userField.valid">Создать</button>
      }
    </form>
  </c-modal-body>
</c-modal>
