// Here you can add other styles

// custom .chartjs-tooltip-body-item padding
@import "charts";

// custom tweaks for scrollbar styling (wip)
@import "scrollbar";

// custom calendar today cell color
.calendar-cell.today {
  --cui-calendar-cell-today-color: var(--cui-info) !important;
}

// custom select week cursor pointer
.select-week .calendar-row.current {
  cursor: pointer;
}

#sidebar1 {
  --cui-sidebar-bg: #323231;
}

.modal {
  &-content {
    --cui-modal-border-radius: 35px;
    --cui-body-bg: #f5f5f5 !important;
    background-color: #e7e7e7 !important;
  }

  &-header {
    border: none;
  }

  &-body {
    background-color: white;
    margin: 0 15px 15px;
    border-radius: 20px;

    > button {
      margin: 30px auto 0;
      display: flex;
      align-items: center;
    }
  }

  &-footer {
    border: none;
  }
}

.btn {
  border-radius: 35px;
  padding: 15px 40px;

  &-primary {
    background-color: #323231;
    color: white;
    font-weight: 500;
    font-size: 14px;
    --cui-btn-hover-bg: rgba(50, 50, 49, 0.57);
    --cui-btn-hover-border-color: rgba(50, 50, 49, 0.57);
  }
}

.form-control, .form-select {
  padding: 15px 20px;
  --cui-border-radius: 35px;
}

.table {
  &-wrapper {
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    overflow: auto;
  }
}

table {
  --cui-body-bg: #f5f5f5 !important;
  border-collapse: separate;
  border-spacing: 0 15px;
}

thead {
  > tr {
    padding: 15px;
    border: none;
    margin-bottom: 15px;
  }
}

th, td {
  padding: 15px !important;
  align-content: center;
  font-size: 12px;

  &:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

th {
  font-weight: 700;
}

td {
  font-weight: 400;
}

.nav-link .header-icon{
    background-color: white;
    padding: 10px;
}

.last_td {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
