/* You can add global styles to this file, and also import other style files */

// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@import "theme";

// Some temp fixes
//@import "fixes";

// If you want to add custom CSS you can put it here.
@import "custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@import "examples";

td, th{
  text-align: center;
}

html {
  background-color: #cfd0d7;
}

.wrapper-container {
  background-color: #e7e7e7;
  padding: 30px 15px;
  color: #323231;
  font-weight: 500;
  font-size: 24px;
  border-radius: 35px;
}

.btn-switch {
  width: 38px;
  height: 38px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    border-radius: 50%;

    &.user-toggle {
      background-color: #d7ed74;
    }

    &.company-toggle {
      background-color: #bcb4f6;
    }
  }

  &__group {
    display: flex;
    align-content: center;
    gap: 4px;
    background-color: white;
    border-radius: 25px;
    padding: 6px;
  }
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
button:has(svg) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-header, .company-header, .user-header {
  padding-left: 30px;
  align-items: center;
}
//table {
//  border-collapse: collapse;
//}

//tbody {
//  display: block;
//  max-height: calc(60vh - 20px);
//  overflow: auto;
//  width: 100%
//}
